/*body { padding-bottom: 50px; }*/

html, body, #map{
	height: 100%;
    width: 100%;
    overflow: hidden;
}


.navbar .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
}

.dropdown {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
}


.leaflet-bottom{
	padding-bottom: 50px;
}

