/*body { padding-bottom: 50px; }*/

html, body, #map{
	height: 100%;
    width: 100%;
    overflow: hidden;
}


.navbar .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
}

.dropdown {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
}


.leaflet-bottom{
	padding-bottom: 50px;
}

#select-group{
	padding-left: 20px;
	padding-right: 20px;
}

#sunSlider {
	position: absolute;
	width:300px;
	left: 0px;
	bottom: 50px;
	z-index: 10;
	font-family: 'Josefin Sans', sans-serif;
}

#sliderheader{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.slider{
	width: 210px;
	float: right !important;
}

#datedisplay{
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 0px; 
}

#about{
	padding-top: 100px;
	text-align: center;
}

.logosize{
	width: 200px;
	margin: 0 auto;
}

.headerdesc{
	padding-top: 100px;
	padding-bottom: 50px;
	color: #5a5a5a;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

#vendors{
	text-align: center;
	color: #5a5a5a;
	font-family: 'Josefin Sans', sans-serif;
}

.githublogo{
	padding-top: 80px;
	width: 30px;
	margin: 0 auto;
}

.featurette-divider {
  margin-bottom: 40px; /* Space out the Bootstrap <hr> more */
  margin-top: 0px;
}