body	{
		  font-family: monospace;
		  color: #FFFFFF;
		  background-color: #222222;
		}

		h1, h2, h3, h4, h5, h6, .highlight{
		  color: orange;
		}
		
		a{
			color:white;
		}
		a:visited{
			color:white;
		}

#main{
			width:1024px;
			margin: 0 auto;
			position:relative;
		}
		
#sponsors{
			/*
background-color:white;
*/
			padding:5px;
			margin-top:3px;
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(34,34,34,1) 27%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(22%,rgba(255,255,255,1)), color-stop(27%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 22%,rgba(34,34,34,1) 27%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 22%,rgba(34,34,34,1) 27%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 22%,rgba(34,34,34,1) 27%); /* IE10+ */
background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 22%,rgba(34,34,34,1) 27%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#222222',GradientType=1 ); /* IE6-8 */





		}
		#gis {
			display:inline-block;
			padding-left:20px;
			/*
color:black;
*/
		}

#display {position: relative;}
#heightcolors{
	position: relative;
	top:0;
	left:0;

}		
#WebGL-canvas, #canvas2d{
	position:relative;
	top:0;
	left:0;
	opacity: 1.0;}

#switchWrapper{
	position: absolute;
	top: 0;
	right: 0;
}

#switchBackground{
	position: absolute;
	top:0;
	right: 0;
	background-color: #222222;
	opacity: 0.7;
	padding-right: 5px;	
	width: 100%;
	height: 100%;
}

#switchContainer{
	position: relative;
	padding-right: 5px;
	color: orange;
}

